/= link_to "Create User", users_path
= javascript_include_tag 'slimscroll'
%header
  .wrap 
    %h1 LocalChat
.wrap
  .chats
    #map
      %h2 Chats in your area
    #list
      %form.search
        %input.start{:type => 'text', :name => 'search', :value => 'Search', :autocomplete => 'off'}
      %div.mousescroll#chatrooms
        %ul
          - @chatrooms.each do |chatroom|
            %li
              %h3 = chatroom.name
              %p 
                = chatroom.users.count
                users
